<meta charset="utf-8">
<div class="container py-3">
    <div class="row">

        <h1 class="text-center mb-3"> <img src="./assets/logo.png"> Formulario Actualización de Información</h1>
        <br>
    </div>
    <div class="col-md-12">
        <hr class="mb-4">
    </div>
    <div class="card" *ngIf="autorizo">
        <div class="card-header cen">
            <h3>
                <b>
                   <!--  Ley 1581 - Datos Personales -->
                </b>
            </h3>
        </div>
        <div class="card-body">
            <p class="card-text" id="texto-justificado">
                Formulario Cerrado!
                
                <!-- AUTORIZO EL TRATAMIENTO DE DATOS PERSONALES.
                Autorizó en los términos de la Ley 1581 de 2012 y Decreto 1377
                de 2013, de manera libre, previa y voluntaria a la Caja de
                Compensación Familiar de Nariño para el tratamiento de mis datos
                personales suministrados a través de este formulario como la
                recolección, almacenamiento, uso, circulación o supresión para
                las finalidades mencionadas en las "POLITICAS Y PROCEDIMIENTOS
                PARA LA PROTECCIÓN DE DATOS PERSONALES EN LA CAJA DE COMPENSACIÓN
                FAMILIAR DE NARIÑO", que permitan recibir información sobre los
                servicios sociales programas de la Caja de Compensación Familiar. -->
            </p>
        </div>

    </div>
    <br>
    <div class="col-md-12" *ngIf="autorizo">
      <!--   <div class="cen">
            <button type="button" class="btn btn-success" (click)="authorize()">Autorizo</button>
        </div> -->
    </div>


    <div class="row justify-content-center" *ngIf="!autorizo">
             <div class="card-header cen">
                <h3>
                    Actualiza tus datos.
                </h3>
            </div>
        

        <div class="col-sm-6 pb-3">
            <br>
            <br>
            <label for="exampleAccount"><b>Busqueda de Usuario</b></label>
            <input class="form-control" id="exampleAccount" placeholder="Buscar Cedula ..." type="text"
                (input)="getGener02($event)" autocomplete="off" required>
            <div class="col-sm-12">
                <div class="card card-body mb-1" *ngFor="let result of dataV" (click)="getDatos(result)"
                    style="cursor: pointer;">
                    <h4>Nombre {{result.prinom}} {{result.segnom}} {{result.priape}} {{result.segape}}</h4>
                    <small class="text-primary">
                        <h4>Codigo: {{result.docemp}}</h4>
                    </small>
                </div>
            </div>
        </div>

    </div>


</div>